body {
  margin: 0;
  overflow: hidden;
  font: 14;
}

* {
  box-sizing: border-box;
}
.container {
  height: 100vh;
  position: relative;
}

.sheet-options-modal {
  position: absolute;
  bottom: 4vh;
  background-color: #ffffff;
  height: 60px;
  width: 60px;
  left: 40px;
  box-shadow: 0 0 3px 2px lightgray;
}

.sheet-rename,
.sheet-delete {
  height: 30px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sheet-rename-modal {
  position: absolute;
  height: 180px;
  width: 300px;
  top: calc(50vh - 90px);
  left: calc(50vw - 150px);
  /* left: 200px; */
  background-color: white;
  text-align: center;
  box-shadow: 0 0 3px 2px lightgray;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-title {
  font-size: 20px;
}

.sheet-rename:hover,
.sheet-delete:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.new-sheet-name {
  height: 26px;
  font-size: 18px;
  outline-color: green;
}

.rename-button {
  cursor: pointer;
  color: green;
  font-weight: bold;
  padding: 5px;
  border: 1px solid green;
}

.cancel-button {
  cursor: pointer;
  color: red;
  font-weight: bold;
  padding: 5px;
  border: 1px solid red;
}

.title-bar {
  height: 5vh;
  background-color: rgb(24, 114, 188);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: #ffffff;
}

.title-name {
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
}

.menu-item.selected {
  background-color: #ffffff;
  color: rgb(24, 114, 188);
}
.menu-item:hover {
  background-color: rgb(24, 114, 188);
  color: #ffffff;
}

.menu-item.selected:hover {
  background-color: white;
  cursor: default;
  color: rgb(24, 114, 188);
}

.menu-bar {
  height: 5vh;
  display: flex;
  background-color: rgb(218, 222, 218);
}
.menu-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18;
  display: flex;
  align-items: center;
  color: #000000;
}

.menu-icon-bar {
  height: 6vh;
  display: flex;
  background-color: rgb(241, 241, 241);
  align-items: center;
}

.menu-icon {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-color-fill {
  position: relative;
}

.icon-color-text {
  position: relative;
}
.color-picker {
  position: absolute;
  width: 26px;
  height: 12px;
  border: none;
  padding: 0;
  margin: 0;
  top: 20px;
  cursor: pointer;
}

.menu-icon:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.font-family-selector {
  width: 150px;
  font-family: "Noto Sans";
}

.selector {
  height: 30px;
  font-size: 18px;
}

.selector option {
  font-size: 18px;
}

.formula-bar {
  height: 5vh;
  display: flex;
  align-items: center;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background-color: rgb(241, 241, 241);
}

.formula-editor {
  height: 70%;
  border: 1px solid lightgrey;
  background-color: white;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  display: flex;
  align-items: center;
}

.selected-cell {
  width: 120px;
}

.function-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.formula-input {
  width: calc(100vw - 160px);
  outline-color: green;
}

.data-container {
  position: relative;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
}

.select-all {
  width: 30px;
  height: 30px;
  border: 1px solid lightgrey;
}

.column-name-container {
  width: calc(100vw - 30px);
  height: 30px;
  border: 1px solid lightgray;
  display: flex;
  overflow: hidden;
}

.row-name-container {
  width: 30px;
  height: calc(75vh - 30px);
  border: 1px solid lightgray;
  min-height: 25px;
  overflow: hidden;
}

.input-cell-container {
  width: calc(100vw - 30px);
  height: calc(75vh - 30px);
  border: 1px solid lightgray;
  overflow: scroll;
}

.input-cell.selected {
  border: 2px solid green;
}

.sheet-bar {
  height: 4vh;
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
}

.icon-left-scroll,
.icon-right-scroll {
  font-size: 30px;
}
.icon-add {
  color: green;
  /* margin-left: 10px;
    margin-right: 10px; */
  width: 40px;
}
.scoller {
  width: 70px;
}

.icon-left-scroll:hover,
.icon-right-scroll:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.icon-add:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.sheet-tab-container {
  width: calc(100vw-110px);
  display: flex;
}

.sheet-tab:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.sheet-tab.selected {
  border-bottom: 4px solid green;
}

.sheet-tab.selected:hover {
  cursor: default;
  background-color: white;
}

.sheet-tab {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  width: 80px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-right: 1px solid lightgrey;
}

.sheet-tab:hover {
  cursor: default;
}

.column-name {
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightgrey;
  font-weight: bold;
}

.row-name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  border-bottom: 1px solid lightgrey;
}

.cell-row {
  display: flex;
}

.input-cell {
  min-width: 100px;
  min-height: 25px;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  outline-color: green;
  font-size: 14px;
  font-family: "Noto Sans";
}

.menu-icon.selected {
  background-color: lightgrey;
}

.input-cell.top-cell-selected {
  border-top: none;
}

.input-cell.bottom-cell-selected {
  border-bottom: 1px solid lightgrey;
}

.input-cell.right-cell-selected {
  border-right: 1px solid lightgrey;
}

.input-cell.left-cell-selected {
  border-left: none;
}

.sum-range {
  background-color: #d3e3fd;
}

.formula-dropdown {
  position: absolute;
  top: 2px;
  left: 40px;
  border: 2px solid black;
  /* height: 30px; */
  /* width: 150px; */
}

.enabled-button {
  margin: 20px;
  padding: 5px;
  border: 1px solid green;
  background-color: #ffffff;
}

.disabled-button {
  margin: 20px;
  padding: 5px;
  border: 1px solid lightgrey;
  background-color: #ffffff7f;
}

.result-container {
  width: 300px;
  height: 4vh;
  border: 2px solid lightgrey;
  display: flex;
  /* justify-content: center; */
  padding: 10px;
  margin: 20px;
  align-items: center;
  background-color: #ffffff7f;
}
.result-enabled {
  border: 1px solid green;
  background-color: #ffffff;
}

.input-cell-options-modal {
  position: absolute;
  top: 4vh;
  background-color: #ffffff;
  height: 60px;
  width: 60px;
  left: 40px;
  box-shadow: 0 0 3px 2px lightgray;
  z-index: 999;
}

.input-cell-option {
  position: absolute;
  border: 1px solid lightgrey;
  /* padding: 5px; */
  border: 1px solid rgb(26, 171, 187);
  display: flex;
}

.text-option {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  border: 1px solid lightgrey;
  background-color: #ffffff;

  /* background-color: rgb(26, 171, 187); */
}

.text-option:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.icon-trim {
  font-size: 5px;
}
